
h1 {
  text-align: center;
}


.row > div {
  padding-left: :20px;
  background-color: #f4e1d2;
  border: 3px solid black;
  }

  .image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  @media (min-width : 801px){
  body {
    background-color: #f4e1d2
  } }

  @media (max-width : 700px){
  body {
    background-color: #bd5734
  } }
